.code-green {
  color: #30e81a
}
.code-dark-green {
  color: #2eb41d
}
.code-cyan {
  color: #2ceeec
}
.code-dark-cyan {
  color: #2faebb
}
.code-yellow {
  color: #e8ec14
}
.code-dark-yellow {
  color: #95961c
}
.code-blue {
  color: #4a00fe
}
.code-dark-blue {
  color: #400ad9
}
.code-red {
  color: #fc2218
}
.code-magenta {
  color: #fb00ff
}
.code-dark-magenta {
  color: #c815c8
}
.code-dark-red {
  color: #b42419
}
.code-bg-red {
  background-color: #850003
}