code.no-highlight {
  color: #fff
}
.code-black {
  color: #000
}
.code-green {
  color: #30e81a
}
.code-dark-green {
  color: #2eb41d
}
.pwsh-green {
  color: #1ebf0e
}
.pwsh-cyan {
  color: #2fa3bb
}
.code-cyan {
  color: #2ceeec
}
.code-dark-cyan {
  color: #2faebb
}
.code-py-orange {
  color: #fa8419
}
.code-py-purple {
  color: #ae87ff
}
.code-py-red {
  color: #e6005a
}
.code-py-green {
  color: #95dc24
}
.pwsh-yellow {
  color: #ffff09
}
.pwsh-light-yellow {
  color: #f8ef95
}
.code-yellow {
  color: #e8ec14
}
.code-dark-yellow {
  color: #95961c
}
.code-blue {
  color: #4a00fe
}
.code-dark-blue {
  color: #400ad9
}
.pwsh-red {
  color: #f20007
}
.code-red {
  color: #fc2218
}
.code-dark-red {
  color: #b42419
}
.code-magenta {
  color: #fb00ff
}
.code-dark-magenta {
  color: #c815c8
}
.code-white {
  color: #cecece
}
.pwsh-dark-white {
  color: #c1c1c1
}
.code-grey {
  color: #626262
}
.pwsh-grey {
  color: #636363
}
.sage-blue {
  color: #0100bd
}
.rb-white {
  color: #ffffce
}
.rb-green {
  color: #7fff79
}
.rb-dark-green {
  color: #4eea08
}
.rb-red {
  color: #e74147
}
.rb-purple {
  color: #ceccff
}
.rb-cream {
  color: #ffffce
}
.code-bg-red {
  background-color: #850003
}
.code-bg-white {
  background-color: #fff
}
.code-bg-bright-red {
  background-color: #dd0007
}
.code-bg-dark-yellow {
  background-color: #878a04
}
.code-bg-yellow {
  background-color: #d5da09
}
.code-bg-blue {
  background-color: blue
}
.code-bg-green {
  background-color: #139902
}
.code-bg-magenta {
  background-color: #b900bb
}
.code-bg-black {
  background-color: #000
}

.mtk1 { color: #f8f8f2 }
.mtk2 { color: #272822 }
.mtk3 { color: #88846f }
.mtk4 { color: #e6db74 }
.mtk5 { color: #f92672 }
.mtk6 { color: #ae81ff }
.mtk7 { color: #66d9ef }
.mtk8 { color: #a6e22e }
.mtk9 { color: #fd971f }
.mtk10 { color: #f44747 }
.mtk11 { color: #cfcfc2 }
.mtk12 { color: #75715e }
.mtk13 { color: rgba(174, 129, 255, 0.63) }
.mtk14 { color: #6796e6 }
.mtk15 { color: #cd9731 }
.mtk16 { color: #b267e6 }
.mtki { font-style: italic }
.mtkb { font-weight: bold }
.detected-link, .detected-link-active, .mtku { text-decoration: underline; text-underline-position: under }
